/*optimased for tablet*/

@media (max-width: 1200px) {

    /* LANDING PAGE HEADER */
    .header {
        margin: 0rem;
        padding-top: 5rem;
        padding-left: 2.5rem;
        padding-bottom: 8rem;
        width: 80%;
    }

    h1 {
        font-size: 4vw;
        font-weight: 400;
        line-height: 1.5;
    }

    /* PROJECT GALLERY */
    .title {
        padding-top: 6rem;
    }

    #gallery {
        flex-direction: column;
        padding-bottom: 3rem;
    }

    #col2 {
        margin-top: 0;
    }

    .image-container {
        margin-left: 1.5rem;
    }

    /* INFO PAGE*/

    .about-me-container {
        padding-top: 5rem;
        padding-left: 2.5rem;
    }

    .about-me-container h1 {
        font-size: 2.5rem;
        width: 60%;
    }

    .more-about-me {
        flex-direction: column;
        width: 55%;
    }

    .about-me-container p {
        font-size: medium;
    }

    .about-me-container2 p {
        font-size: medium;
    }

    .footer-container h1 {
        font-size: 3.5rem;
        padding-bottom: 2rem;
    }

    /* MORE ABOUT PROJECT SEA POLLUTION INFO PAGE */
    
    /* ABOUT PROJECT */
    .about-project {
        display: flex;
        flex-wrap: wrap;
        padding: 6.5rem;
        width: 85%;
        justify-content: space-between;
        align-items: flex-start;
        gap: 5rem;
    }

    .about-project {
        flex-direction: column;
    }

    .lower {
        padding-top: 10%;
    }

}


@media screen and (max-width: 900px) {
    .topnav a {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 900px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/*optimised for mobile*/
@media (max-width:800px) {

    /* LANDING PAGE HEADER */
    .header {
        margin: 0rem;
        padding-left: 1.5rem;
        padding-bottom: 8rem;
        width: 80%;
    }

    h1 {
        font-size: 4vw;
        font-weight: 400;
        line-height: 1.5;
    }

    /* PROJECT GALLERY */
    .title {
        padding-left: 0.5rem;
        padding-top: 2.5rem;
    }

    h2 {
        font-size: 1rem;
        padding-top: 1rem;
    }

    p {
        font-size: 0.8rem;
    }

    #gallery {
        flex-direction: column;
    }

    #col2 {
        margin-top: 0;
    }

    .image-container {
        margin-left: 0.5rem;
    }

    /* INFO PAGE*/

    .about-me-container {
        padding-top: 5rem;
        padding-left: 2.5rem;
    }

    .about-me-container h1 {
        font-size: 2.5rem;
        width: 100%;
        padding-right: 0.5rem;
    }

    .more-about-me {
        flex-direction: column;
        width: 100%;
        padding-right: 2.5rem;
    }

    .about-me-container p {
        font-size: medium;
    }

    .about-me-container2 p {
        font-size: medium;
    }

    .footer-container h1 {
        font-size: 3.5rem;
        padding-bottom: 2rem;
    }

    #col5 {
        padding-bottom: 3rem;
        padding-right: 3rem;
    }

/* FOOTER */

    .funky-arrow-right {
        margin-right: 1.5rem;
        width: 10rem;
    }
    
    .email-container {
        padding-top: 1rem;
    }
    
    .email-container h2 {
        font-size: 2rem;
        width: 100%;
    }

}