* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(68, 66, 66);
}

#row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.column {
    padding-left: 8px;
    padding-right: 8px;
    align-items: center;
}

#col1 {
    flex: 50%;
}

#col2 {
    flex: 50%;
}

.flex-image {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    margin-bottom: 10px;
}

.flex-image:hover {
    filter: brightness(40%);
    transform: scale(1.05);
    transition: all 0.4s;
}

.flex-image:active {
    filter: brightness(80%);
}

/*optimasied for tablet*/
@media (max-width: 900px) {

    #header {
        text-align: left;
    }

    #col1 {
        min-width: 60%;
    }

    #col2 {
        min-width: 40%;
    }
}

/*optimised for mobile*/
@media (max-width:500px) {

    #row {
        flex-direction: column;
    }
}